---
import Header from '../components/Header.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="icon" type="image/svg+xml" href="/tree-favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Tia Mei - UX Designer</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Homenaje&family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
	</head>
	<body>
		<Header />
		<div id="main">
			<slot />
		</div>
	</body>
</html>

<style>
	:root {
		--color-primary: #4f9c6d;
		--color-primary--dark: #407d56;

		--color-primary--light: #a9d6ba;
		--color-secondary: #f7f4ee;
		--color-white: #f8f9fa;

		--max-width: 1200px;
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Parkinsans", sans-serif;
		background: var(--color-secondary);
	}

	#main {
		padding-top: 64px;
	}

</style>
